@inherits StandardComponentBase

<footer class="footer">
    <SocialLinks FillColor="#b7ded0" />
    <p class="footer__copyright">
        <span class="copyright__owner" title="@Localizer["{0} All Rights Reserved", DateTime.Now.Year]">
            @Localizer["© {0}", Config.Site.Owner]
        </span>
    </p>
    <div class="footer__links">
        <a class="footer__privacy-policy --link" href="@Config.PageMeta.PrivacyPolicy.Url">
            @Localizer["Privacy Policy"]
        </a>
        <span class="footer__spacer"></span>
        <a class="footer__contact --link" href="@Config.PageMeta.Contact.Url">
            @Localizer["Contact Me"]
        </a>
    </div>
</footer>

@code {
    [CascadingParameter]
    public SiteConfig Config { get; set; } = null!;
}
