@using CodyAnhorn.Tech.ContentfulSdk.Model
@using CodyAnhorn.Tech.Shared.Components.SocialLinks.svg
@inherits StandardComponentBase

<div class="author">
    @if (Author.Image is not null)
    {
        <div class="author__img-container --sized">
            <Image class="author__img --sized"
                   src="@(Author.Image.File.Url)"
                   alt="@Author.Image.Description"
                   height="@Author.Image.File.Details.Image.Height"
                   width="@Author.Image.File.Details.Image.Width" />
        </div>
    }
    <div class="author__details-container">
        <h2 class="author__name">@Author.Name</h2>
        <p class="author__description">
            @Author.Description
        </p>
        @if (HasLinks)
        {
            <div class="author__links">
                <ul class="social-links__list">

                    @if (Author.TwitterUsername.IsNotNullOrWhitespace())
                    {
                        <li class="social-links__list-item">
                            <a class="social-links__list-item-link"
                               href="@($"https://twitter.com/{Author.TwitterUsername}")"
                               aria-label="@Localizer["Twitter"]"
                               target="_blank"
                               rel="nofollow noreferrer">
                                <Twitter />
                            </a>
                        </li>
                    }
                    @if (Author.TwitchUsername.IsNotNullOrWhitespace())
                    {
                        <li class="social-links__list-item">
                            <a class="social-links__list-item-link"
                               href="@($"https://twitch.tv/{Author.TwitchUsername}")"
                               aria-label="@Localizer["Twitch"]"
                               target="_blank"
                               rel="nofollow noreferrer">
                                <Twitch />
                            </a>
                        </li>
                    }
                    @if (Author.GitHubUsername.IsNotNullOrWhitespace())
                    {
                        <li class="social-links__list-item">
                            <a class="social-links__list-item-link"
                               href="@($"https://github.com/{Author.GitHubUsername}")"
                               aria-label="@Localizer["GitHub"]"
                               target="_blank"
                               rel="nofollow noreferrer">
                                <GitHub />
                            </a>
                        </li>
                    }
                </ul>

            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public Person Author { get; set; } = null!;

    public bool HasLinks => Author.TwitterUsername.IsNotNullOrWhitespace()
        || Author.TwitchUsername.IsNotNullOrWhitespace()
        || Author.GitHubUsername.IsNotNullOrWhitespace()
        || Author.WebsiteUrl.IsNotNullOrWhitespace();
}
