@page "/uses/{*identifier}"
@using CodyAnhorn.Tech.Shared.Components.Uses
@inherits UsesSubPageBase

<HeroBanner Data="PageContent.HeroBanner" />

<ContentWrapper>
    @if (PageContent is not null)
    {
        <PageContentWrapper>
            @if (PageContent.Title.IsNotNullOrWhitespace())
            {
                <h1>@PageContent.Title</h1>
            }

            @if (PageContent.Description.IsNotNullOrWhitespace())
            {
                <p>
                    @PageContent.Description
                </p>
            }
            @if (PageContent.Sys?.UpdatedAt?.ToString().IsNotNullOrWhitespace() ?? false)
            {
                <div class="uses__last-updated --bold">
                    <p class="last-updated__text">
                        @Localizer["Last Updated:"]
                        <PublishedDate Date="@PageContent.Sys.UpdatedAt.ToString()" />
                    </p>
                </div>
            }

            @if (PageContent.Body is not null)
            {
                <RichTextPageContent Body="PageContent.Body" />
            }

            @if (PageContent.MarkdownBody is not null)
            {
                <BlazorMarkdown Markdown="@PageContent.MarkdownBody" />
            }
        </PageContentWrapper>
    }
    <UsesEntriesSection UsesEntries="UsesEntries" />
</ContentWrapper>


